<?xml version="1.0"?>
<robot name="full_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="use_sim" default="false"/>
  <xacro:arg name="use_ros2_control" default="true"/>
  <xacro:include filename="inc/materials.xacro"/>
  <xacro:include filename="inc/ros2_control.xacro"/>
  <xacro:include filename="inc/gz.xacro"/>
  <link name="world"/>
  <joint name="world_to_link1_1" type="fixed">
    <parent link="world"/>
    <child link="link1_1"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="link1_2">
    <inertial>
      <origin xyz="-3.223828E-18 3.566583E-18 0.15" rpy="0 0 0"/>
      <mass value="0.431150444078461"/>
      <inertia ixx="0.00314925002712992" ixy="-1.64127337889257E-20" ixz="-1.55758109343735E-20" iyy="0.00308830754933384" iyz="-4.89867387828737E-20" izz="0.000125615044407846"/>
    </inertial>
    <visual><geometry>
      <mesh filename="package://full_arm/meshes/link1_2.dae"/>
    </geometry></visual>
    <collision><geometry>
      <mesh filename="package://full_arm/meshes/link1_2_collision.stl"/>
    </geometry></collision>
  </link>
  <link name="link1_1">
    <inertial>
      <origin xyz="-3.223828E-18 3.566583E-18 0.15" rpy="0 0 0"/>
      <mass value="0.431150444078461"/>
      <inertia ixx="0.00314925002712992" ixy="-1.64127337889257E-20" ixz="-1.55758109343735E-20" iyy="0.00308830754933384" iyz="-4.89867387828737E-20" izz="0.000125615044407846"/>
    </inertial>
    <visual><geometry>
      <mesh filename="package://full_arm/meshes/link1_1.dae"/>
    </geometry></visual>
    <collision><geometry>
      <mesh filename="package://full_arm/meshes/link1_1_collision.stl"/>
    </geometry></collision>
  </link>
  <link name="link1_3">
    <inertial>
      <origin xyz="-3.223828E-18 3.566583E-18 0.15" rpy="0 0 0"/>
      <mass value="0.431150444078461"/>
      <inertia ixx="0.00314925002712992" ixy="-1.64127337889257E-20" ixz="-1.55758109343735E-20" iyy="0.00308830754933384" iyz="-4.89867387828737E-20" izz="0.000125615044407846"/>
    </inertial>
    <visual><geometry>
      <mesh filename="package://full_arm/meshes/link1_3.dae"/>
    </geometry></visual>
    <collision><geometry>
      <mesh filename="package://full_arm/meshes/link1_3_collision.stl"/>
    </geometry></collision>
  </link>
  <joint name="link1_1_link1_2_joint" type="continuous">
    <parent link="link1_1"/>
    <child link="link1_2"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 1.387779E-16 -1.611564E-23"/>
    <limit effort="100" velocity="1"/>
  </joint>
  <joint name="link1_2_link1_3_joint" type="continuous">
    <parent link="link1_2"/>
    <child link="link1_3"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 1.387779E-16 -8.536011E-24"/>
    <limit effort="100" velocity="1"/>
  </joint>

</robot>
